.Userbox {
    display: flex;
    align-items: center;
    height: 82px;
    padding: 16px;
    cursor: pointer;
    transition: background 0.2s;
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    &__data {
        flex: 1;
        padding: 0 16px;
    }
    &__userinfo {
        display: flex;
        align-items: center;
    }
    &__username {
        font-size: 1.5rem;
    }
    &__connected {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 16px;
    }
    &__latestmessage {
        color: #ccc;
        font-style: italic;
    }
    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    &__countmessages {
        border-radius: 50%;
        background: #79c7f9;
        color: white;
        padding: 2px 5px;
        margin: 5px 0;
    }
    &__datetime {
        color: #ccc;
    }
    &:hover {
        background: #dbdbdb;
    }
}
