@import "../../../general.scss";
.Userslist {
  position: relative;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  background: $white;
  &__input__container {
    .Icon {
      position: absolute;
      left: 10px;
    }
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 42px;
    background: #eee;
    outline: none;
  }
  &__reference {
    text-align: center;
    margin-top: 1rem;
    color: #aaa;
  }
}
