@import "../../../general.scss";
.Chat {
  display: flex;
  flex-direction: column;
  transition: width 1s;
  &__nocontent {
    width: calc(100% - 780px);
    padding: 16px;
    color: white;
    height: 100%;
    background: $color2;
    h1 {
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 4px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    span {
      font-size: 18px;
      color: rgba(238, 238, 238, 0.5);
    }
  }
  &__info {
    background: white;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0 1rem;
    transition: background 0.3s;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
    .Info {
      &__name {
        font-size: 1.5rem;
        margin: 10px 0;
      }
      &__state {
        font-style: italic;
        color: #ccc;
        font-size: 0.9rem;
      }
    }
  }
  &__listMessages {
    position: relative;
    flex: 1;
    overflow: hidden auto;
    outline: none;
    padding-bottom: 56px;
  }
  &__loadfile {
    position: fixed;
    z-index: 4;
    height: calc(100vh - 150px);
    background-color: #eee;
    padding: 32px;
    overflow: hidden;
    transition: width 1s;
  }
  &__loadfile__border {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-style: dashed;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      background-color: steelblue;
    }
    p {
      margin: auto;
      color: #ccc;
      font-size: 2rem;
    }
  }
  &__input {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #eee;
    input {
      flex: 1;
      height: 100%;
      background: #eef0f2;
      border: none;
      padding: 0 1rem;
      font-size: 18px;
      outline: none;
    }
    .Icon {
      background: #eef0f2;
      margin: 0 8px !important;
    }
  }
  &__mostmessages {
    display: flex;
    justify-content: center;
  }
  &__icon-ly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    hr {
      position: absolute;
      bottom: 0;
      width: 70%;
      left: calc(12.5%);
      border: none;
      height: 2px;
    }
    &:hover > hr {
      background: $color2;
    }
  }
}
