@import "../../../general.scss";
.Chat {
  transition: width 1s;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 1rem;
    transition: background 0.3s;
    cursor: pointer;
    &:hover {
      background: $color2;
    }
    .Info {
      &__name {
        font-size: 1.5rem;
        margin: 10px 0;
      }
      &__state {
        font-size: 0.9rem;
      }
    }
  }
  &__listMessages {
    flex: 1;
    height: calc(100vh - 150px);
    overflow: hidden auto;
  }
  &__input {
    display: flex;
    height: 50px;
    width: 100%;
    input {
      flex: 1;
      height: 100%;
      background: #eef0f2;
      border: none;
      padding: 0 1rem;
      font-size: 18px;
    }
    .Icon {
      background: #eef0f2;
      padding: 10px;
    }
  }
}
