@import "../../../general.scss";
.Chat {
  transition: width 1s;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 1rem;
    transition: background 0.3s;
    cursor: pointer;
    &:hover {
      background: $color2;
    }
    .Info {
      &__name {
        font-size: 1.5rem;
        margin: 10px 0;
      }
      &__state {
        font-size: 0.9rem;
      }
    }
  }
  &__listMessages {
    position: relative;
    flex: 1;
    height: calc(100vh - 150px);
    overflow: hidden auto;
    outline: none;
    padding-bottom: 56px;
  }
  &__loadfile {
    position: fixed;
    z-index: 4;
    height: calc(100vh - 150px);
    background-color: #eee;
    padding: 32px;
    overflow: hidden;
    transition: width 1s;
  }
  &__loadfile__border {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-style: dashed;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      background-color: steelblue;
    }
    p {
      margin: auto;
      color: #ccc;
      font-size: 2rem;
    }
  }
  &__input {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    input {
      flex: 1;
      height: 100%;
      background: #eef0f2;
      border: none;
      padding: 0 1rem;
      font-size: 18px;
      outline: none;
    }
    .Icon {
      background: #eef0f2;
      padding: 10px;
    }
  }
  &__mostmessages {
    display: flex;
    justify-content: center;
  }
}
