.Textarea {
  margin: 24px 0;
  position: relative;
  &__label {
    position: absolute;
    top: 5px;
    left: 10px;
    transition: all 0.3s;
  }
  &__textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 1.125rem;
    resize: none;
    background: transparent;
  }
}
