@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.Message {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    &__img {
        width: 50px;
        height: 50px;
        margin: 0 1rem;
        border-radius: 3rem;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    &__message {
        position: relative;
        padding: 1rem;
        max-width: 50%;
        border-radius: 2px;
    }
    &__info {
        position: absolute;
        bottom: -30px;
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
        color: #d9d9d9;
        font-size: 14px;
    }
}
